<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konradkowalczyk.fizkey_java_android">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".quizzes.quizy.QuizGameActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".quizzes.QuizActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".games.kinematics.projection.vertical.GameVerticalActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".menu.kinematyka.projection.vertical.VerticalProjectionSimulationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".menu.kinematyka.projection.vertical.VerticalProjectionPlotActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".menu.MenuGlowneActivity"
            android:label="@string/menuGlowne"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".menu.kinematyka.KinematykaMenuActivity"
            android:label="@string/menuKinematyka"
            android:screenOrientation="portrait"
            android:parentActivityName=".menu.MenuGlowneActivity" />
        <activity
            android:name=".menu.kinematyka.projection.vertical.VerticalProjectionActivity"
            android:label="@string/rzuty"
            android:screenOrientation="portrait"
            android:parentActivityName=".menu.kinematyka.KinematykaMenuActivity" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>