<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konradkowalczyk.fizkey_java_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.kinematyka.Rzuty.RzutPionowySymulacjaActivity"></activity>
        <activity android:name=".menu.kinematyka.Rzuty.RzutPionowyWykresActivity" />
        <activity
            android:name=".menu.MenuGlowneActivity"
            android:label="@string/menuGlowne"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".menu.kinematyka.KinematykaMenuActivity"
            android:label="@string/menuKinematyka"
            android:parentActivityName=".menu.MenuGlowneActivity" />
        <activity
            android:name=".menu.kinematyka.Rzuty.RzutPionowyActivity"
            android:label="@string/rzuty"
            android:parentActivityName=".menu.kinematyka.KinematykaMenuActivity" />
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>